html {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}

#pagetop {
    position: fixed;
    width: 100%;
    height: 5vw;
    background-color: white;
    z-index: 4;
}

#logo {
    float: left;
}

#header {
    position: absolute;
    width: 100%;
    bottom: 0.001vw;
    text-align: center;
    font-family: serif;
    font-style: italic;
}

#greeting {
    position: relative;
    top: 10vw;
    left: 15vw;
    width: 100vw;
}

#projectBackground {
    position: relative;
    text-align: center;
    width: 40vw;
    left: 50vw;
    top: 15vw;
    background-color:brown;
}

img {
    position: relative;
    bottom: 10vw;
    left: 7vw;
}